{% extends 'base.html' %}
{% load crispy_forms_filters %}

{% block content %}
    <h1>Car list
        <a class="btn btn-primary float-right" href="{% url 'taxi:car-create' %}">Create</a>
    </h1>
    {% include 'includes/search_form.html' %}
    {% if car_list %}
        <table class="table table-sm">
            <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Model</th>
                <th scope="col">Manufacturer</th>
                <th scope="col">Update</th>
                <th scope="col">Delete</th>

            </tr>
            </thead>
            <tbody>
            {% for car in car_list %}
                <tr>
                    <td><a href="{% url 'taxi:car-detail' pk=car.id %}">{{ car.id }}</a></td>
                    <td>{{ car.model }}</td>
                    <td>{{ car.manufacturer.name }}</td>
                    <td><a class="btn btn-success" href="{% url 'taxi:car-update' pk=car.id %}">Update</a></td>
                    <td><a class="btn btn-danger" href="{% url 'taxi:car-delete' pk=car.id %}">Delete</a></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>No cars found.</p>
    {% endif %}
{% endblock %}
